body
{
	background-color: #A9A9A9;

}


h1{
	color: white;
	text-align: center;
	height: 30px;
	font-weight: normal;
	background: steelblue;
	padding: 40px 0;
}

h4{
	font-weight: normal;
}

.sec
{
	width: 40px;
}



.inputBoxes
{
	
	background: white;
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 590px;
	display: center;
}

.secondPortion
{
	background:#ADD8E6;
	padding: 20px;
	padding-left: 350px;
	line-height: 0.1;
}

#picture {
  border: 2px solid black;
  
  background: url(kids.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.3;

}


